---
title: "Congestion"
date: today
---

In [1]:
import pandas as pd
from pathlib import Path
import util

pd.set_option('display.float_format', '{:,.1f}'.format)

## Congestion Levels by County

Congestion levels are defined by the ratio of congested speed to posted speed limits:

- Minimal: Ratio > 0.70
- Moderate: Ratio > 0.50 and <=0.70
- Heavy: > 0.25 and <= 0.50
- Severe: Ratio <= 0.25

AM (7-8)

In [2]:
# # gdf = gpd.read_file(r'../../../inputs/scenario/networks/shapefiles/AM/AM_edges.shp')
# gdf = gpd.read_file(Path(summary_config['sc_run_path'], 'inputs/scenario/networks/shapefiles/AM/AM_edges.shp'))
# gdf.crs = 'EPSG:2285'

# df = process_network_summary()
# # NOTE: for visualization, do not show connectors
# df = df[df['data3'] != 5]
# gdf = gdf.merge(df[df['tod'] == '7to8'][['ij','congestion_index','congestion_category']], left_on='link_id', right_on='ij', how='left')
# gdf['congestion_category'] = gdf['congestion_category'].fillna('Light')
# color_mapping = {'Light': 'grey','Moderate': 'orange','Heavy': 'red','Severe':'black'}
# gdf.plot(color=gdf["congestion_category"].map(color_mapping), alpha=0.3, linewidth=gdf['lanes'], figsize=(20,20))

In [3]:
df = util.process_network_summary()
df = df[df['county']!='Outside Region']


:::{.panel-tabset}
### AM Peak (7 to 8 AM)

VMT

In [4]:
pd.options.display.float_format = '{:0,.0f}'.format
df_am = df[df['tod'] == '7to8']
_df = df_am.pivot_table(index='congestion_category',columns='county',
               aggfunc='sum',values='VMT')
_df = _df.reindex(['Light','Moderate','Heavy','Severe'])
_df.index.name = None
_df.columns.name = None
_df['Region'] = _df.sum(axis=1)
_df.loc['Heavy + Severe'] = _df.loc[['Heavy','Severe']].sum(axis=0)
_df

# _df

                    King  Kitsap    Pierce  Snohomish    Region
Light          2,260,913 333,618 1,098,917  1,024,714 4,718,161
Moderate         636,389  19,779   241,290    203,074 1,100,531
Heavy            677,759   5,924   145,734    173,623 1,003,040
Severe            92,276   7,548     9,094     12,129   121,047
Heavy + Severe   770,035  13,473   154,828    185,751 1,124,087

----
Share of VMT

In [5]:

pd.options.display.float_format = '{:0,.1%}'.format
_df = _df/_df.sum(axis=0)
_df

                King  Kitsap  Pierce  Snohomish  Region
Light          51.0%   87.7%   66.6%      64.1%   58.5%
Moderate       14.3%    5.2%   14.6%      12.7%   13.6%
Heavy          15.3%    1.6%    8.8%      10.9%   12.4%
Severe          2.1%    2.0%    0.6%       0.8%    1.5%
Heavy + Severe 17.4%    3.5%    9.4%      11.6%   13.9%

### PM Peak (5 to 6 PM)

VMT

In [6]:
pd.options.display.float_format = '{:0,.0f}'.format
df_pm = df[df['tod'] == '17to18']
_df = df_pm.pivot_table(index='congestion_category',columns='county',
               aggfunc='sum',values='VMT')
_df = _df.reindex(['Light','Moderate','Heavy','Severe'])
_df.index.name = None
_df.columns.name = None
_df['Region'] = _df.sum(axis=1)
_df.loc['Heavy + Severe'] = _df.loc[['Heavy','Severe']].sum(axis=0)
_df

                    King  Kitsap    Pierce  Snohomish    Region
Light          2,625,033 381,461 1,288,224  1,166,063 5,460,780
Moderate         726,287  22,158   252,250    263,013 1,263,709
Heavy            520,193   6,594   111,327    111,480   749,593
Severe            58,912   6,931     9,130     11,536    86,508
Heavy + Severe   579,105  13,525   120,457    123,015   836,101

----
Share of VMT

In [7]:
pd.options.display.float_format = '{:0,.1%}'.format
_df = _df/_df.sum(axis=0)
_df

                King  Kitsap  Pierce  Snohomish  Region
Light          58.2%   88.6%   72.3%      69.6%   65.0%
Moderate       16.1%    5.1%   14.2%      15.7%   15.1%
Heavy          11.5%    1.5%    6.2%       6.7%    8.9%
Severe          1.3%    1.6%    0.5%       0.7%    1.0%
Heavy + Severe 12.8%    3.1%    6.8%       7.3%   10.0%

:::

## Congestion by Road Type


:::{.panel-tabset}
### AM Peak (7 to 8 AM)

VMT

In [8]:
pd.options.display.float_format = '{:0,.0f}'.format
df_am = df[df['tod'] == '7to8']
_df = df_am.pivot_table(index='congestion_category',columns='facility_type',
               aggfunc='sum',values='VMT')
_df = _df.reindex(['Light','Moderate','Heavy','Severe'])
_df.index.name = None
_df.columns.name = None
_df.loc['Heavy + Severe'] = _df.loc[['Heavy','Severe']].sum(axis=0)
_df

                Arterial  Connector   Highway  Other
Light          2,392,568    388,064 1,937,110    419
Moderate         458,068        NaN   642,424     38
Heavy            287,796        NaN   715,244      0
Severe            52,648        NaN    68,399      0
Heavy + Severe   340,443          0   783,643      0

----
Share of VMT

In [9]:
pd.options.display.float_format = '{:0,.1%}'.format
_df = _df/_df.sum(axis=0)
_df

                Arterial  Connector  Highway  Other
Light              67.7%     100.0%    46.7%  91.6%
Moderate           13.0%        NaN    15.5%   8.4%
Heavy               8.1%        NaN    17.2%   0.0%
Severe              1.5%        NaN     1.6%   0.0%
Heavy + Severe      9.6%       0.0%    18.9%   0.0%

### PM Peak (5 to 6 PM)

VMT

In [10]:

pd.options.display.float_format = '{:0,.0f}'.format
df_pm = df[df['tod'] == '17to18']
_df = df_pm.pivot_table(index='congestion_category',columns='facility_type',
               aggfunc='sum',values='VMT')
_df = _df.reindex(['Light','Moderate','Heavy','Severe'])
_df.index.name = None
_df.columns.name = None
_df.loc['Heavy + Severe'] = _df.loc[['Heavy','Severe']].sum(axis=0)
_df

                Arterial  Connector   Highway  Other
Light          2,765,224    529,794 2,165,294    468
Moderate         470,830        NaN   792,767    112
Heavy            281,955        NaN   467,638      0
Severe            54,155        NaN    32,347      7
Heavy + Severe   336,110          0   499,985      7

----
Share of VMT

In [11]:
pd.options.display.float_format = '{:0,.1%}'.format
_df = _df/_df.sum(axis=0)
_df

                Arterial  Connector  Highway  Other
Light              70.8%     100.0%    54.7%  78.9%
Moderate           12.0%        NaN    20.0%  18.9%
Heavy               7.2%        NaN    11.8%   0.0%
Severe              1.4%        NaN     0.8%   1.1%
Heavy + Severe      8.6%       0.0%    12.6%   1.1%

:::

In [12]:
# _df = df_am.pivot_table(index='congestion_category',columns='facility_type',
#                aggfunc='sum',values='length')
pd.options.display.float_format = '{:0,.0f}'.format
df_pm['length'].sum()

np.float64(15379.883533382352)

## Miles of Roadway withy Heavy Congestion

In [13]:
print(f"Total Miles of Roadway: {int(df_am['length'].sum())}")

Total Miles of Roadway: 15381

In [14]:
congested_len = df_am[df_am['congestion_category'].isin(['Heavy','Severe'])]['length'].sum()
print(f"Total Miles of Roadway: {int(congested_len)}")

Total Miles of Roadway: 602

In [15]:
print(f"Share Congested: {congested_len/df_pm['length'].sum():.1%}")

Share Congested: 3.9%

## Corridor Travel Time

:::{.panel-tabset}
### AM Peak (7 to 8 AM)

In [16]:
pd.options.display.float_format = '{:0,.1f}'.format

df = pd.read_csv(util.output_path / 'validation/corridor_speeds.csv')

# For each Corridor_Descrption, define as AM or pm beak by finding which direction has max value
df = df[df['tod'].isin(['7to8','17to18']) & (df['Corridor_Number'] <= 20)]

# Corridors are grouped so that directions are [1,2], [3,4]
for i in range(1,21):
# for i in range(7,8):
    _df = df[df['Corridor_Number'] == i]
#     print(_df)
    peak_time = _df.sort_values('auto_time').iloc[-1]['tod']
    df.loc[df['Corridor_Number']==i, 'peak'] = peak_time
    
df.rename(columns={'Corridor_Description': 'Corridor', 'auto_time':'Auto Travel Time (min.)'}, inplace=True)
df[(df['peak'] == '7to8') & (df['tod'] == '7to8')][['Corridor','Auto Travel Time (min.)']]

                             Corridor  Auto Travel Time (min.)
15            Everett to Seattle - SB                     65.9
24             Tacoma to Seattle - NB                     74.4
51          Lynnwood to Bellevue - SB                     41.7
60           Tukwila to Bellevue - NB                     29.7
69           Bellevue to Tukwila - SB                     28.0
78              Auburn to Renton - NB                     28.8
96            Redmond to Seattle - WB                     29.7
114          Redmond to Bellevue - WB                     14.0
132         Issaquah to Bellevue - WB                     14.5
150  Seattle to Bellevue via 520 - WB                     17.7
159  Bellevue to Seattle via 520 - EB                     23.3
168   Bellevue to Seattle via 90 - WB                     26.0

### PM Peak (17 to 18 PM)

In [17]:
df[(df['peak'] == '17to18') & (df['tod'] == '17to18')][['Corridor','Auto Travel Time (min.)']]

                            Corridor  Auto Travel Time (min.)
2            Seattle to Everett - NB                     57.5
29            Seattle to Tacoma - SB                     62.7
38         Bellevue to Lynnwood - NB                     35.1
83             Renton to Auburn - SB                     24.3
101          Seattle to Redmond - EB                     23.4
119         Bellevue to Redmond - EB                     11.1
137        Bellevue to Issaquah - EB                     12.8
173  Seattle to Bellevue via 90 - EB                     24.1

:::

## Delay

::: {.panel-tabset}
### Network Delay

In [18]:
df = util.process_network_summary()
df = df[df['county']!='Outside Region']

In [19]:
df[['total_delay','county']].groupby('county').sum()[['total_delay']]

           total_delay
county
King         209,875.2
Kitsap         6,633.1
Pierce        55,363.3
Snohomish     61,409.8

### Transit Delay

In [20]:
# Congestion on Transit Routes
df_network = util.process_network_summary()
# df = df[df['county']!='Outside Region']
# Get PM congestion only for now

tod = '17to18'
df_network_pm = df_network[df_network['tod']==tod]

df = pd.read_csv(util.output_path / 'transit/transit_segment_results.csv')
df = df[df['tod']==tod]

df = df[~df['j_node'].isnull()]
df = df.merge(df_network_pm, on=['i_node','j_node'], how='left')

In [21]:
df["delay"] = df["auto_time"] - df["freeflow_time"]
df["person_delay"] = df['segment_volume']*df['delay']

In [22]:
df_sum = df.groupby('line_id').sum()[['auto_time','freeflow_time','person_delay']]
df_sum['vehicle_delay'] = df_sum['auto_time']-df_sum['freeflow_time']

# Merge the line IDs to transit line results to get agency IDs or some other metric
df_line_results = pd.read_csv(util.output_path / 'transit/transit_line_results.csv')
df_line_results = df_line_results[df_line_results['tod']==tod]
df_sum = df_sum.merge(df_line_results, on='line_id', how='left')

In [23]:
# Compare person-delay in transit vs person-delay in vehicles on specific corridors

In [24]:
# # Total minutes of delay by agency
# df = df_sum.groupby('agency_code').sum()[['delay']]
# df.index = df.index.astype('int').astype('str').map(summary_config['agency_lookup'])
# df.index.name = 'Agency'
# df.rename(columns={'delay': 'Total Route Delay (min) at PM Peak'}, inplace=True)
# df

In [25]:
# # Ridership and Delay
# df_sum.groupby('agency_code').sum()[['person_delay']]/60

In [26]:
# # df = pd.read_csv((Path(output_path, 'transit/transit_segment_results.csv')))
# # df = df[df['tod']=='7to8']
# df_sum

:::