---
title: "Access"
date: today
---

In [32]:
import pandas as pd
import polars as pl
import toml
import util
from pathlib import Path
from sqlalchemy import create_engine

config = toml.load(Path.cwd() / '../../../../configuration/input_configuration.toml')
summary_config = toml.load(Path.cwd() / '../../../../configuration/summary_configuration.toml')

pd.set_option('display.float_format', '{:,.0f}'.format)

# Relative path between notebooks and goruped output directories
output_path = Path(summary_config['sc_run_path']) / summary_config["output_folder"]
survey_path = Path(summary_config['sc_run_path']) / summary_config["survey_folder"]

In [33]:
data = util.SummaryData(config,summary_config,get_data=['parcels_urbansim'], inc_geog=True)

In [34]:
transit_jobs_access = pd.read_csv(output_path / 'access/transit_jobs_access.csv', 
                                  usecols=['geography', 'value', 'geography_group'])
walk_bike_jobs_access = pd.read_csv(output_path / 'access/walk_bike_jobs_access.csv', 
                                  usecols=['geography_value', 'jobs_1_mile_walk', 'jobs_3_mile_bike', 'geography_group']).\
                                  rename(columns={'geography_value': 'geography'})

parcel_emp = data.parcels_urbansim.copy()

# jobs access in equity geographies
equity_geogs = summary_config['equity_geogs']

## Jobs Accessible within 45 Minutes of Transit

In [35]:
def process_access_data(jobs_access):
    df_access = jobs_access.copy()
    # rename region
    df_access.loc[jobs_access['geography_group'] == 'region', 'geography'] = 'Region'
    # rename rgc
    df_access.loc[jobs_access['geography_group'] == 'rgc_binary', 'geography'] = ['Not in RGC', 'In RGC']
    # rename regional geography
    df_access.loc[jobs_access['geography_group'] == 'rg_proposed', 'geography_group'] = 'RegionalGeogName'

    equity_geogs = list(data.equity_geog_dict.keys())
    df_access_equity = df_access.loc[
        df_access['geography_group'].isin(equity_geogs)].copy()
    
    df_access_equity['geography'] = df_access_equity['geography'].map({"0.0": 'Below Regional Average', 
                                                                       "1.0": 'Above Regional Average', 
                                                                       "2.0": 'Higher Share of Equity Population'}
                                                                       )
    df_access_equity['geography_group'] = df_access_equity['geography_group'].map(data.equity_geog_dict)

    # df_access_equity_geogs['geography'] = df_access_equity_geogs['geography_group']
    # df['geography'] = "NOT in " + df['geography_group']

    # df_access_equity_geogs = pd.concat([df_access_equity_geogs, df], ignore_index=True)
    # df_access_equity_geogs['geography_group'] = 'Equity Geography'

    return df_access, df_access_equity


df_access_t, df_access_equity_t = process_access_data(transit_jobs_access)
df_access_bp, df_access_equity_bp = process_access_data(walk_bike_jobs_access)
tot_jobs = parcel_emp['emptot_p'].sum()

:::{.panel-tabset}

### Region and County

In [36]:
def job_access_geog(access_table, geog, format=True):
    df = access_table.loc[access_table['geography_group'].isin([geog, 'region'])].\
        rename(columns={'value': 'Jobs within 45-minute Transit Commute'}).\
        drop(columns=['geography_group']).\
        set_index('geography')
    
    df_jobs = parcel_emp.groupby(geog)['emptot_p'].sum()
    df_jobs['Region'] = tot_jobs
    df = pd.concat([df, df_jobs.rename('Total Jobs within Geography')], axis=1)
    df = df.loc[df.index != 'Outside Region'].copy()

    df['% All Jobs'] = df['Jobs within 45-minute Transit Commute'] / tot_jobs
    df['% of Jobs in Geography'] = df['Jobs within 45-minute Transit Commute'] / df['Total Jobs within Geography']

    if format:
        return df.style.format('{:,.1%}', subset=['% All Jobs','% of Jobs in Geography']).\
            format('{:,.0f}', subset=['Jobs within 45-minute Transit Commute','Total Jobs within Geography'])
    else:
        return df

In [37]:
df = job_access_geog(df_access_t,'CountyName')
# df = df[df.index != 'Outside Region']
df

### Regional Growth Center

In [38]:
df_rgc = job_access_geog(df_access_t,'rgc_binary')
df_rgc

In [39]:
df = job_access_geog(df_access_t,'GrowthCenterName')

df

### Regional Geography

In [40]:
job_access_geog(df_access_t,'RegionalGeogName')

### Equity Focus Areas

job_access_geog

In [41]:
df = pd.DataFrame()
for col, label in data.equity_geog_dict.items():
    _df = job_access_geog(df_access_equity_t, label, format=False)
    _df['Group'] = label
    df = pd.concat([df, _df])
df = df.reset_index()
df.rename(columns={'index': 'EFA Type'}, inplace=True)
# df
df.loc[df['EFA Type']!="Region"][['Group', 'EFA Type', 'Jobs within 45-minute Transit Commute',
    'Total Jobs within Geography', '% All Jobs', '% of Jobs in Geography']].style.\
        format('{:,.1%}', subset=['% All Jobs','% of Jobs in Geography']).\
        format('{:,.0f}', subset=['Jobs within 45-minute Transit Commute','Total Jobs within Geography'])

:::

## Average Jobs Accessible within 1 Mile Walk and 3 Mile Bike
Note that this is not using the bike network, but is instead using the all-streets network.

Average accessible jobs are weighted averages based on parcel household population.

:::{.panel-tabset}

### Region and County

In [42]:
def bp_job_access_geog(access_table,geog):
    df = access_table.loc[access_table['geography_group'].isin(['region', geog])].\
        rename(columns={'jobs_1_mile_walk': 'Jobs within 1-mile Walk',
                        'jobs_3_mile_bike': 'Jobs within 3-mile Bike'}).\
        drop(columns=['geography_group']).\
        set_index('geography')

    df['% Total Jobs (1-mile walk)'] = df['Jobs within 1-mile Walk'].apply(lambda x: f'{x / tot_jobs * 100:,.1f}' + '%')
    df['% Total Jobs (3-mile bike)'] = df['Jobs within 3-mile Bike'].apply(lambda x: f'{x / tot_jobs * 100:,.1f}' + '%')

    return df

In [43]:
df = bp_job_access_geog(df_access_bp,'CountyName')
df = df[df.index != 'Outside Region']
df

,Jobs within 1-mile Walk,Jobs within 3-mile Bike,% Total Jobs (1-mile walk),% Total Jobs (3-mile bike)
geography,,,,
King,"37,271","134,135",1.2%,4.2%
Kitsap,"2,746","14,528",0.1%,0.5%
Pierce,"8,283","37,911",0.3%,1.2%
Snohomish,"6,443","36,812",0.2%,1.2%
Region,"22,998","87,445",0.7%,2.8%

### Regional Growth Center

In [44]:
df_rgc = bp_job_access_geog(df_access_bp,'rgc_binary')
df = bp_job_access_geog(df_access_bp,'GrowthCenterName')

pd.concat([df_rgc, df.loc[~df.index.isin(['Region','Not in RGC'])]], axis=0)

,Jobs within 1-mile Walk,Jobs within 3-mile Bike,% Total Jobs (1-mile walk),% Total Jobs (3-mile bike)
geography,,,,
Region,"22,998","87,445",0.7%,2.8%
Not in RGC,"4,676","49,794",0.1%,1.6%
In RGC,"104,176","254,260",3.3%,8.0%
Auburn,"19,999","58,805",0.6%,1.9%
Bellevue,"105,531","180,124",3.3%,5.7%
Bothell Canyon Park,"13,092","34,742",0.4%,1.1%
Bremerton,"20,449","48,459",0.6%,1.5%
Burien,"10,870","22,675",0.3%,0.7%
Everett,"48,673","91,292",1.5%,2.9%
Federal Way,"20,181","50,482",0.6%,1.6%
Greater Downtown Kirkland,"20,518","58,731",0.6%,1.9%
Issaquah,"11,322","31,886",0.4%,1.0%
Kent,"43,954","88,321",1.4%,2.8%
Kirkland Totem Lake,"16,673","58,683",0.5%,1.9%
Lakewood,"11,968","37,006",0.4%,1.2%
Lynnwood,"21,851","78,239",0.7%,2.5%
Puyallup Downtown,"11,818","41,030",0.4%,1.3%
Puyallup South Hill,"9,542","36,986",0.3%,1.2%
Redmond Downtown,"19,691","89,978",0.6%,2.8%
Redmond-Overlake,"50,821","144,645",1.6%,4.6%
Renton,"22,922","80,799",0.7%,2.6%
SeaTac,"17,553","79,790",0.6%,2.5%
Seattle Downtown,"278,513","547,421",8.8%,17.3%
Seattle First Hill/Capitol Hill,"197,727","540,128",6.3%,17.1%
Seattle Northgate,"11,077","55,178",0.4%,1.7%
Seattle South Lake Union,"224,975","540,196",7.1%,17.1%
Seattle University Community,"34,385","125,773",1.1%,4.0%
Seattle Uptown,"109,643","528,654",3.5%,16.7%
Silverdale,"12,477","26,848",0.4%,0.8%
Tacoma Downtown,"55,604","143,297",1.8%,4.5%
Tacoma Mall,"16,973","85,541",0.5%,2.7%
Tukwila,"27,058","124,492",0.9%,3.9%
University Place,"4,966","22,934",0.2%,0.7%

### Regional Geography

In [45]:
bp_job_access_geog(df_access_bp,'RegionalGeogName')

,Jobs within 1-mile Walk,Jobs within 3-mile Bike,% Total Jobs (1-mile walk),% Total Jobs (3-mile bike)
geography,,,,
Region,"22,998","87,445",0.7%,2.8%
Cities and Towns,"1,383","12,707",0.0%,0.4%
Core Cities,"8,355","49,234",0.3%,1.6%
High Capacity Transit Communities,"2,793","26,296",0.1%,0.8%
Metropolitan Cities,"57,573","194,889",1.8%,6.2%
Rural Areas,243,"3,539",0.0%,0.1%
Urban Unincorporated Areas,685,"10,604",0.0%,0.3%

### Equity Focus Areas

In [46]:
df = pd.DataFrame()
for col, label in data.equity_geog_dict.items():
    _df = bp_job_access_geog(df_access_equity_bp, label)
    _df['Group'] = label
    df = pd.concat([df, _df])
df = df.reset_index()
df.rename(columns={'geography': 'EFA Type'}, inplace=True)
df[['Group', 'EFA Type', 'Jobs within 1-mile Walk',	'Jobs within 3-mile Bike',	'% Total Jobs (1-mile walk)','% Total Jobs (3-mile bike)']]

,Group,EFA Type,Jobs within 1-mile Walk,Jobs within 3-mile Bike,% Total Jobs (1-mile walk),% Total Jobs (3-mile bike)
0,People of Color,Below Regional Average,"9,267","57,941",0.3%,1.8%
1,People of Color,Above Regional Average,"37,997","120,237",1.2%,3.8%
2,People of Color,Higher Share of Equity Population,"36,058","114,525",1.1%,3.6%
3,Income,Below Regional Average,"20,136","82,624",0.6%,2.6%
4,Income,Above Regional Average,"25,381","89,441",0.8%,2.8%
5,Income,Higher Share of Equity Population,"28,396","99,479",0.9%,3.1%
6,LEP,Below Regional Average,"21,019","85,945",0.7%,2.7%
7,LEP,Above Regional Average,"31,701","95,949",1.0%,3.0%
8,LEP,Higher Share of Equity Population,"18,531","81,576",0.6%,2.6%
9,Disability,Below Regional Average,"20,802","89,249",0.7%,2.8%
10,Disability,Above Regional Average,"19,289","74,177",0.6%,2.3%
11,Disability,Higher Share of Equity Population,"34,844","103,848",1.1%,3.3%
12,Older Adults,Below Regional Average,"27,214","103,770",0.9%,3.3%
13,Older Adults,Above Regional Average,"20,089","74,211",0.6%,2.3%
14,Older Adults,Higher Share of Equity Population,"13,204","54,015",0.4%,1.7%
15,Youth,Below Regional Average,"37,228","128,845",1.2%,4.1%
16,Youth,Above Regional Average,"3,725","33,568",0.1%,1.1%
17,Youth,Higher Share of Equity Population,"2,244","21,181",0.1%,0.7%

:::

## Intersection Density

In [47]:
buffered_parcels = pl.read_csv(output_path / 'landuse/buffered_parcels.txt', 
                               separator=' ',
                               columns=['parcelid','nodes3_2','nodes4_2','hh_p'])


async_engine = create_engine('sqlite:///' + summary_config['sc_run_path'] + '/inputs/db/' + config['db_name'])

list_cols = ['ParcelID','CountyName','GrowthCenterName','rg_proposed'] + equity_geogs
parcel_geog = pl.read_database(
    query= f"SELECT {', '.join(list_cols)} FROM " + "parcel_" + config["base_year"] + "_geography",
    connection=async_engine.connect()
)

In [48]:
df_intersection = buffered_parcels.join(parcel_geog, left_on='parcelid', right_on='ParcelID').to_pandas()

# Total intersections within 1/2 mile buffer
df_intersection['intersections_wt'] = (df_intersection['nodes3_2'] + df_intersection['nodes4_2']) * df_intersection['hh_p']

In [49]:
def intersection_density(geog, map=False):
    df = df_intersection.groupby(geog)[['intersections_wt', 'hh_p']].sum().reset_index()
    df['Intersections'] = df['intersections_wt']/df['hh_p']

    if map:
        df[geog] = df[geog].astype('int').map({0: 'Below Regional Average', 
                                1: 'Above Regional Average', 
                                2: 'Higher Share of Equity Population'}
                                )
    
    return df[[geog] + ['Intersections']]

:::{.panel-tabset}

### County

In [50]:
df = intersection_density('CountyName')
df = df[df['CountyName']!='Outside Region']
df

  CountyName  Intersections
0       King            171
1     Kitsap             57
3     Pierce             90
4  Snohomish             81

### Regional Growth Center

In [51]:
intersection_density('GrowthCenterName')

                   GrowthCenterName  Intersections
0                            Auburn            193
1                          Bellevue            271
2               Bothell Canyon Park             64
3                         Bremerton            167
4                            Burien            175
5                           Everett            157
6                       Federal Way            138
7         Greater Downtown Kirkland            164
8                          Issaquah             99
9                              Kent            213
10              Kirkland Totem Lake            125
11                         Lakewood            124
12                         Lynnwood            142
13                       Not in RGC             99
14                Puyallup Downtown            188
15              Puyallup South Hill             71
16                 Redmond Downtown            229
17                 Redmond-Overlake            170
18                           Renton            198
19                           SeaTac            113
20                 Seattle Downtown            427
21  Seattle First Hill/Capitol Hill            427
22                Seattle Northgate            179
23         Seattle South Lake Union            352
24     Seattle University Community            288
25                   Seattle Uptown            286
26                       Silverdale             70
27                  Tacoma Downtown            207
28                      Tacoma Mall            102
29                          Tukwila            105
30                 University Place            116

### Regional Geography

In [52]:
intersection_density('rg_proposed')

            rg_proposed  Intersections
0      Cities and Towns             64
1                  Core            111
2                   HCT             87
3                 Metro            216
4                 Rural             20
5  Urban Unincorporated             51

### Equity Focus Areas

In [55]:
df = pd.DataFrame()
for col, label in data.equity_geog_dict.items():
    _df = intersection_density(col).rename(columns={col: "Group"})
    _df['Group'] = label
    df = pd.concat([df, _df])
df = df.reset_index()
df['EFA Type'] = df['index'].map({
                                0: 'Below Regional Average', 
                                1: 'Above Regional Average', 
                                2: 'Higher Share of Equity Population',
                                })
df[['Group', 'EFA Type', 'Intersections']]

              Group                           EFA Type  Intersections
0   People of Color             Below Regional Average            105
1   People of Color             Above Regional Average            155
2   People of Color  Higher Share of Equity Population            152
3            Income             Below Regional Average            120
4            Income             Above Regional Average            132
5            Income  Higher Share of Equity Population            154
6               LEP             Below Regional Average            124
7               LEP             Above Regional Average            141
8               LEP  Higher Share of Equity Population            133
9        Disability             Below Regional Average            129
10       Disability             Above Regional Average            118
11       Disability  Higher Share of Equity Population            148
12     Older Adults             Below Regional Average            142
13     Older Adults             Above Regional Average            116
14     Older Adults  Higher Share of Equity Population            109
15            Youth             Below Regional Average            165
16            Youth             Above Regional Average             83
17            Youth  Higher Share of Equity Population             68

:::