In [1]:
import pandas as pd
import os

%matplotlib inline

In [2]:
# Daysim data
trip = pd.read_csv(r'../../../outputs/daysim/_trip.tsv', sep='\t')
person = pd.read_csv(r'../../../outputs/daysim/_person.tsv', sep='\t')
hh = pd.read_csv(r'../../../outputs/daysim/_household.tsv', sep='\t')

In [5]:
# Zone lookup
df = pd.read_csv(r'../inputs/special_needs_taz.csv')

In [6]:
df

       TAZ  Low Income  Minority
0        1           0       0.0
1        2           1       1.0
2        3           1       1.0
3        4           1       1.0
4        5           1       0.0
5        6           1       0.0
6        7           1       1.0
7        8           1       1.0
8        9           1       0.0
9       10           1       0.0
10      11           0       1.0
11      12           0       1.0
12      13           0       1.0
13      14           0       1.0
14      15           0       1.0
15      16           0       1.0
16      17           1       1.0
17      18           1       1.0
18      19           1       1.0
19      20           1       1.0
20      21           0       0.0
21      22           0       0.0
22      23           1       1.0
23      24           1       1.0
24      25           1       1.0
25      26           1       1.0
26      27           1       1.0
27      28           1       1.0
28      29           1       1.0
29      30           1       1.0
...    ...         ...       ...
3670  3671           0       0.0
3671  3672           0       0.0
3672  3673           0       0.0
3673  3674           1       0.0
3674  3675           0       0.0
3675  3676           0       0.0
3676  3677           0       0.0
3677  3678           1       0.0
3678  3679           1       0.0
3679  3680           1       0.0
3680  3681           1       0.0
3681  3682           0       0.0
3682  3683           0       0.0
3683  3684           0       0.0
3684  3685           0       0.0
3685  3686           0       0.0
3686  3687           0       0.0
3687  3688           0       0.0
3688  3689           0       0.0
3689  3690           0       0.0
3690  3691           0       0.0
3691  3692           0       0.0
3692  3693           0       0.0
3693  3694           0       0.0
3694  3695           0       0.0
3695  3696           0       0.0
3696  3697           0       0.0
3697  3698           0       0.0
3698  3699           0       0.0
3699  3700           0       0.0

[3700 rows x 3 columns]